*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ligth-theme {
  --clr-bck: hsl(210, 36%, 96%);
  --clr-bck-section: #fff;
  --clr-button: hsl(210, 36%, 96%);
  --clr-button-border: hsl(209, 62%, 56%);
  --clr-font: hsl(209, 74%, 20%);
  --clr-primary: black;
  --clr-primary-shade: gray;
}

.dark-theme {
  --clr-bck: #141d26;
  --clr-button: rgb(23, 94, 160);
  --clr-button-border: hsla(200, 10%, 6%, 0.575);
  --clr-bck-section: #243447;
  --clr-font: #fff;
  --clr-primary: #fff;
  --clr-primary-shade: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--clr-font);
  background-color: var(--clr-bck);
  line-height: 1.5;
  font-size: 1rem;
  transition: all 0.3s ease;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding-top: 4rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

section {
  width: 100%;
  margin: 0.5rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.theme-button {
  background: var(--clr-button);
  color: var(--clr-font);
  border: 2px solid var(--clr-button-border);
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  border-radius: 0.3rem;
  background: var(--clr-font);
  transition: all 0.3s ease;
}

.slider.active {
  left: 50%;
  transition: all 0.3s ease;
}

button {
  border: none;
  padding: 0.2rem 0.5rem;
  background: var(--clr-button);
  color: var(--clr-font);
  border: 2px solid var(--clr-button-border);
  font-size: 1rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav-info {
  width: 70%;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
  margin: 0.2rem;
}

form {
  background: var(--clr-bck-section);
  border-radius: 0.3rem;
  width: 70%;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.form-input {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 1rem;
}

.form-content {
  padding: 0.2rem 0.5rem;
  width: 50%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 70%;
}

.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: var(--clr-bck-section);
  border-radius: 0.3rem;
  padding: 0.3rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.todo-content {
  color: var(--clr-primary);
  width: 40%;
}

.todo-content.completed {
  text-decoration: line-through;
  color: var(--clr-primary-shade);
}

.icon-button {
  margin: 0 0.1rem;
  padding: 0.2rem 0.7rem;
}

.icon-button.delete {
  color: hsl(360, 67%, 44%);
}
.icon-button.edit {
  color: hsl(125, 67%, 44%);
}

@media screen and (max-width: 600px) {
  p {
    font-size: 0.7rem;
  }

  form,
  .todo-list {
    width: 85%;
    padding: 0.2rem 0;
  }

  button,
  .icon-button {
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;
  }

  label,
  input {
    font-size: 0.7rem;
  }
}
